body 
{
    margin: 0;
    color: black;
    background-color: black;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container
{
   display: flex;
    align-items: center;
}

.knapper
{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.knapp
{
    font-size: 216px;
}

.number
{
    font-size: 432px;
    color: white;
    
}