input[type='range']{ accent-color: gold; }
input[type='number']{ color: gold; background-color: gray; } 
input[type='text']{ color: gold; background-color: gray; }
input[type='radio']{ accent-color: gold; }

body
{
    margin:0;
    color: black;
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    
    
}

h3
{
    color: gold;
    text-align: center;
    font-size: 66px;
}

.container 
{
    color: white;
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
}

.høyere, .venstere
{
    font-size: 16px;
    border: solid;
    border-width: 2px;
    border-color: gold;
    display: flex;
    flex-direction: column;
    flex: 1; 
}
