body 
{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

.container 
{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 25% 1fr;
    grid-template-areas:
        "header header"
        "meny hovedinnhold"
        "footer footer";
    height: 100vh;
}

.header 
{
    grid-area: header;
    background-color: lightgray;
    text-align: center;
    padding: 10px;
}

.meny 
{
    grid-area: meny;
    background-color: lightblue;
    padding: 10px;
}

.hovedinnhold 
{
    grid-area: hovedinnhold;
    background-color: lightgreen;
    padding: 10px;
}

.footer 
{
    grid-area: footer;
    background-color: lightpink;
    text-align: center;
    padding: 10px;
}